@import "tailwindcss";



@theme{
  --color-nav-bg: white;
  --color-nav-bg-dark: #272727;
  --color-text: #272727;
  --color-text-dark: #e2e2e2;
  --color-hover: #72AEC8;
  --color-paragraph: #3A3A3A;
  --color-paragraph-dark: #CFCFCF;

  --font-lato: 'Lato', sans-serif;
  --font-jost: 'Jost', sans-serif;
}