@import "tailwindcss";

@variant dark (.dark &);

@theme{
  --color-nav-bg: white;
  --color-nav-bg-dark: #272727;
  --color-text: #272727;
  --color-text-dark: white;
  --color-hover: #72AEC8;
  --color-paragraph: #3A3A3A;
  --color-paragraph-dark: white;

  --font-lato: 'Lato', sans-serif;
  --font-jost: 'Jost', sans-serif;
}

.padding-navbar {
  @apply px-[5%] sm:px-[8%] md:px-[10%] lg:px-[10%] xl:px-[16%]
}

.padding-section{
  @apply px-[9%] sm:px-[8%] md:px-[10%] lg:px-[10%] xl:px-[16%]
}





/* Hide default Swiper navigation */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}