@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@variant dark (.dark &);

@theme{
  --color-nav-bg: white;
  --color-nav-bg-dark: #272727;
  --color-text: #272727;
  --color-text-dark: white;
  --color-hover: #72AEC8;
  --color-paragraph: #3A3A3A;
  --color-paragraph-dark: white;

  --font-family-lato: 'Lato', sans-serif;
  --font-family-jost: 'Jost', sans-serif;
}

.padding-navbar {
  @apply px-[5%] sm:px-[8%] md:px-[10%] lg:px-[10%] xl:px-[16%]
}

.padding-section{
  @apply px-[9%] sm:px-[8%] md:px-[10%] lg:px-[10%] xl:px-[16%]
}





/* Hide default Swiper navigation */
.swiper-button-next,
.swiper-button-prev {
  display: none;
}